<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>index</title>

</head>

<!--    <table>-->
<!--        <tr>-->
<!--            <th>번호</th>-->
<!--            <th>제목</th>-->
<!--            &lt;!&ndash;        <th>title(||쓰지 않은 경우)</th>&ndash;&gt;-->
<!--            <th>작성자</th>-->
<!--            <th>작성일</th>-->
<!--            <th>조회수</th>-->
<!--        </tr>-->
<!--        <tr th:each="board: ${boardList}">-->
<!--            <td th:text="${board.id}"></td>-->
<!--            <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>-->
<!--            &lt;!&ndash;        <td><a th:href="@{/board/${board.id}}" th:text="${board.boardTitle}"></a></td>&ndash;&gt;-->
<!--            <td th:text="${board.boardWriter}"></td>-->
<!--            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
<!--            <td th:text="${board.boardHits}"></td>-->
<!--        </tr>-->
<!--    </table>-->

    <div class="board-list">
        <div th:each="board: ${boardSortList}">
            <a th:href="@{|/board/${board}|}" th:text="${board}"></a>
        </div>
    </div>

</body>
<script>

</script>
</html>